@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

section {
    background-image: url(/img/fc77bc42b5336eef1302d3089c193a39.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white !important;
    position: absolute;
    text-align: center;
    font-size: 50px !important;
    top: 400px;
    left: 220px;
    font-family: Merriweather;
}

#hotelmanage {
    width: 500px;
    position: absolute;
}

.imagem-texto {
    display: flex !important;
    flex-direction: column;
}

.login {
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    align-content: center;
}

.login .formLogin {
    transition: .5s ease;
    transform: translateX(0);
    top: 30px;
    position: relative;
}

.login .formRegister {
    display: none;
    top: 5px;
    position: relative;
}

.login.active .formLogin {
    transition: none;
    display: none;
}

.login.active .formRegister {
    transition: none;
    display: flex;
}

.formLogin,
.formRegister {
    display: flex;
    flex-direction: column;
    color: white;
}

.formLogin,
.formRegister {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    backdrop-filter: blur(15px);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px
}

.areaLogin img {
    width: 420px;
}

.formLogin h2,
.formRegister h2 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 60px;
    text-align: center;
    font-family: Merriweather;
}

.formLogin p,
.formRegister p {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 25px;
}

.formLogin input,
.formRegister input {
    padding: 15px;
    font-size: 15px;
    border-bottom: 3px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 15px;
    transition: all linear 160ms;
    outline: none;
    color: white;
}


.formLogin input:focus,
.formRegister input:focus {
    border-bottom: 3px solid rgba(4, 56, 115, 1);
}

.formLogin label,
.formRegister label {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding-top: 30px;
}

.registrar {
    font-size: 20px !important;
    padding-left: 10px;
    font-weight: 500;
}

.formLogin a,
.formRegister a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all linear 160ms;
    text-align: end;
}

.formLogin a:hover,
.formRegister a:hover {
    color: rgb(231, 231, 231);
}

.btn {
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;
    color: white !important;
}

button {
    background: rgba(4, 56, 115, 1);
    border-radius: 20px !important;
    border: 3px solid rgba(4, 56, 115, 1);
    transition: 0.4s;
}

button:hover {
    background: transparent;
    border: 3px solid rgba(4, 56, 115, 1);
    transition: 0.4s;
}

input {
    background: transparent;
    border: none;
}

::-webkit-input-placeholder {
    color: white;
}

#email {
    position: absolute;
    right: 50px;
    top: 198px;
}

#senha {
    position: absolute;
    right: 50px;
    top: 278px;
    cursor: pointer;
}

.formRegister #email {
    top: 278px;
    right: 40px;
}

.formRegister #senha {
    top: 370px;
    right: 40px;
}

.formRegister #user {
    position: absolute;
    right: 40px;
    top: 198px;
}

@media (min-width:1380px) {
    h1 {
        left: 200px;
    }

    .login .formLogin {
        top: 55px;
    }

    .login .formRegister {
        top: 40px;
    }
}

@media (min-width:1550px) {
    h1 {
        left: 300px;
    }

    .login .formLogin {
        top: 100px;
    }

    .login .formRegister {
        top: 70px;
    }
}

@media (min-width:1750px) {
    h1 {
        left: 350px;
    }

    .login .formLogin {
        top: 120px;
    }

    .login .formRegister {
        top: 100px;
    }
}
@media (max-width:1200px) {
    img {
        display: none;
    }
    h1 {
        display: none;
    }
    section {
        height: 100% !important;
        width: 100% !important;
        background-image: url(/img/fundo-celular.jpg);
        background-size: cover;
    }
    .login {
        justify-content: center;
    }
    .login .formLogin {
        top: 160px;
    }

    .login .formRegister {
        top: 130px;
    }
    
}